<app-navbar>
</app-navbar>
<section class="contianer row animated fadeIn" id="profile">
    <div class="container col-2" id="sidebar">
        <div class="card card-personal" card="card">

            <!--Card image-->
            <input type="image" data-toggle="modal" data-target="#basicExample" (click)="profilePictureModal.show()" mdbRippleRadius
            class="img-fluid" src="https://s3.us-east-2.amazonaws.com/quip-test-bucket/profile_placeholder.png" alt="Card image cap">
            <!--Card image-->

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <a>
                    <h4 class="card-title title-one" *ngIf="profile$">{{(profile$|async)?.account.fname}} {{(profile$|async)?.account.lname}}</h4>
                </a>
                <p class="card-meta" *ngIf="profile$">@{{(profile$|async)?.account.username}}</p>

                <!--Text-->
                <p ng-disabled="true" class="card-text" *ngIf="descText">{{descText}}</p>
                <button class="btn btn-sm mx-auto" data-toggle="modal" data-target="#basicExample" (click)="profileInfoModal.show()" mdbRippleRadius>Edit Description</button>
                <hr>
                <div class="card-meta" (click)="displayFriends.show()">
                    <a class="btn btn-sm ">
                        <i class="fa fa-users"></i>
                    </a>
                    <a class="btn btn-sm ">
                        <i class="fa fa-user-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>




    <div class="container col-6" id="feed">
        <!-- [formGroup]="loginForm" (ngSubmit)="onSubmit()" -->
        <form [formGroup]="postForm" (ngSubmit)="submitPost()" id="postForm">
            <!--Header-->
            <div class="form-header">
                <h4>Posts</h4>
            </div>

            <!--Body-->
            <div class="md-form">
                <input type="text" id="postForm" class="form-control" mdbActive formControlName="postText">
                <label for="postForm">What are you doing today? 😁</label>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label class="fa fa-photo" aria-hidden="true" id="fileInput">
                            <input type="file" id="file" (change)="handleFileInput($event)">
                        </label>
                        <img [src]="localUrl" *ngIf="localUrl" style="width:64px">
                    </div>
                </div>
                <div class="col">
                    <div class="text-right">
                        <small class="align-bottom">Char: 250</small>
                        <button class="btn btn-default waves-effect waves-light" type="submit" [disabled]="!postForm.valid" mdbRippleRadius>Post</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="pre-scrollable mx-auto" id="postFeed" *ngIf="profile$">
            <app-post-list  [posts]="(profile$|async)?.posts"></app-post-list>
        </div>
    </div>
    <div class="container col-4">

    </div>
</section>

<!-- Change Profile Pic Modal -->
<div mdbModal #profilePictureModal="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="profilePicModal"
aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="profilePicModal">Select New Profile Pic</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="profilePictureModal.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="fa fa-photo" aria-hidden="true" id="fileInput">
                    <input type="file" id="file" (change)="handleProfilePicInput($event)">
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm waves-light" data-dismiss="modal" (click)="profilePictureModal.hide()" mdbRippleRadius>Close</button>
            <button type="button" class="btn btn-sm waves-light" (click)="uploadProfilePic()" mdbRippleRadius>Submit</button>
        </div>
    </div>
</div>
</div>

<!-- Edit information Modal -->
<div mdbModal #profileInfoModal="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="profileInfoModal"
aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="profileInfoModal">Edit Description</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="profileInfoModal.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="profile$">
            <input type="text" placeholder="New Description" class="form-control" (value)="descText" [value]="(profile$|async)?.description">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm waves-light" data-dismiss="modal" (click)="profileInfoModal.hide()" mdbRippleRadius>Close</button>
            <button type="button" class="btn btn-sm waves-light" mdbRippleRadius (click)="submitDesc()">Submit</button>
        </div>
    </div>
</div>
</div>

<!-- Friends Display Modal -->
<div mdbModal #displayFriends="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="displayFriends"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="displayFriends">Friends of
                <!-- {{user.fname}} {{user.lname}} -->
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="displayFriends.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="container mx-3" *ngFor="let friend of friends$">
                <span *ngIf="friends$">

                </span>
            </div>


        </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-sm waves-light" data-dismiss="modal" (click)="displayFriends.hide()" mdbRippleRadius>Close</button>
                <button type="button" class="btn btn-sm waves-light" mdbRippleRadius>Submit</button>
            </div> -->
        </div>
    </div>
</div>