<app-navbar>
</app-navbar>
<section class="contianer row" id="profile">
    <div class="container col-3" id="sidebar">
        <div class="card card-personal" card="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" alt="Card image cap">
            <!--Card image-->

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <a>
                    <h4 class="card-title title-one">Clara</h4>
                </a>
                <p class="card-meta">Joined in 2013</p>

                <!--Text-->
                <p class="card-text">Clara is an photographer living in Madrid.</p>
                <hr>
                <a class="card-meta">
                    <span>
                        <i class="fa fa-user"></i>22 Friends</span>
                </a>
            </div>
            <!--Card content-->

        </div>
    </div>
    <div class="container col" id="feed">
        <h3>Feed</h3>
        <div class="pre-scrollable">
            <section class="pt-5 pb-3">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-6">

                        <!--Newsfeed-->
                        <div class="mdb-feed">

                            <!--First news-->
                            <div class="news">

                                <!--Label-->
                                <div class="label">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-1-half">
                                </div>

                                <!--Excert-->
                                <div class="excerpt">

                                    <!--Brief-->
                                    <div class="brief">
                                        <a class="name">John Doe</a> added you as a friend
                                        <div class="date">1 hour ago</div>
                                    </div>

                                    <!--Feed footer-->
                                    <div class="feed-footer">
                                        <a class="comment" data-toggle="collapse" href="#collapseExample-1" aria-expanded="false" aria-controls="collapseExample-1">Comment</a> &middot;
                                        <span>
                                            <a>7</a>
                                        </span>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I like it">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I don't like it">
                                            <i class="fa fa-thumbs-down"></i>
                                        </a>
                                        <div class="collapse" id="collapseExample-1">
                                            <div class="card card-body mt-1">
                                                <!--Add comment-->
                                                <div class="md-form mt-1 mb-1">
                                                    <textarea type="text" id="form7" class="md-textarea"></textarea>
                                                    <label for="form7">Add comment</label>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn-flat waves-effect" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false"
                                                        aria-controls="collapseExample-1">Cancel</button>
                                                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false"
                                                        aria-controls="collapseExample-1">Reply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--First news-->

                            <!--Second news-->
                            <div class="news">

                                <!--Label-->
                                <div class="label">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" class="rounded-circle z-depth-1-half">
                                </div>

                                <!--Excert-->
                                <div class="excerpt">

                                    <!--Brief-->
                                    <div class="brief">
                                        <a class="name">Anna Smith</a> added
                                        <a> 2 new illustrations</a>
                                        <div class="date">4 hours ago</div>
                                    </div>

                                    <!--Added images-->
                                    <div class="added-images">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/images/50.jpg" class="z-depth-1 rounded">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/images/52.jpg" class="z-depth-1 rounded">
                                    </div>

                                    <!--Feed footer-->
                                    <div class="feed-footer">
                                        <a class="comment" data-toggle="collapse" href="#collapseExample-2" aria-expanded="false" aria-controls="collapseExample-2">Comment</a> &middot;
                                        <span>
                                            <a>31</a>
                                        </span>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I like it">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I don't like it">
                                            <i class="fa fa-thumbs-down"></i>
                                        </a>
                                        <div class="collapse" id="collapseExample-2">
                                            <div class="card card-body mt-1">
                                                <!--Add comment-->
                                                <div class="md-form mt-1 mb-1">
                                                    <textarea type="text" id="form7" class="md-textarea"></textarea>
                                                    <label for="form7">Add comment</label>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn-flat waves-effect" data-toggle="collapse" data-target="#collapseExample-2" aria-expanded="false"
                                                        aria-controls="collapseExample-2">Cancel</button>
                                                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample-2" aria-expanded="false"
                                                        aria-controls="collapseExample-2">Reply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--Second news-->

                            <!--Third news-->
                            <div class="news">

                                <!--Label-->
                                <div class="label">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9)-mini.jpg" class="rounded-circle z-depth-1-half">
                                </div>

                                <!--Excert-->
                                <div class="excerpt">

                                    <!--Brief-->
                                    <div class="brief">
                                        <a class="name">Danny Moore</a> added you as a friend
                                        <div class="date">7 hours ago</div>
                                    </div>

                                    <!--Feed footer-->
                                    <div class="feed-footer">
                                        <a class="comment" data-toggle="collapse" href="#collapseExample-3" aria-expanded="false" aria-controls="collapseExample-3">Comment</a> &middot;
                                        <span>
                                            <a>12</a>
                                        </span>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I like it">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I don't like it">
                                            <i class="fa fa-thumbs-down"></i>
                                        </a>
                                        <div class="collapse" id="collapseExample-3">
                                            <div class="card card-body mt-1">
                                                <!--Add comment-->
                                                <div class="md-form mt-1 mb-1">
                                                    <textarea type="text" id="form7" class="md-textarea"></textarea>
                                                    <label for="form7">Add comment</label>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn-flat waves-effect" data-toggle="collapse" data-target="#collapseExample-3" aria-expanded="false"
                                                        aria-controls="collapseExample-3">Cancel</button>
                                                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample-3" aria-expanded="false"
                                                        aria-controls="collapseExample-3">Reply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--Third news-->

                            <!--Fourth news-->
                            <div class="news">

                                <!--Label-->
                                <div class="label">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18)-mini.jpg" class="rounded-circle z-depth-1-half">
                                </div>

                                <!--Excert-->
                                <div class="excerpt">

                                    <!--Brief-->
                                    <div class="brief">
                                        <a class="name">Lili Rose</a> posted on his page
                                        <div class="date">2 days ago</div>
                                    </div>

                                    <!--Added text-->
                                    <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero
                                        eius? Vitae sint neque animi alias sunt dolor, accusantium ducimus, non placeat voluptate.</div>

                                    <!--Feed footer-->
                                    <div class="feed-footer">
                                        <a class="comment" data-toggle="collapse" href="#collapseExample-4" aria-expanded="false" aria-controls="collapseExample-4">Comment</a> &middot;
                                        <span>
                                            <a>25</a>
                                        </span>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I like it">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I don't like it">
                                            <i class="fa fa-thumbs-down"></i>
                                        </a>
                                        <div class="collapse" id="collapseExample-4">
                                            <div class="card card-body mt-1">
                                                <!--Add comment-->
                                                <div class="md-form mt-1 mb-1">
                                                    <textarea type="text" id="form7" class="md-textarea"></textarea>
                                                    <label for="form7">Add comment</label>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn-flat waves-effect" data-toggle="collapse" data-target="#collapseExample-4" aria-expanded="false"
                                                        aria-controls="collapseExample-4">Cancel</button>
                                                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample-4" aria-expanded="false"
                                                        aria-controls="collapseExample-4">Reply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--Fourth news-->

                            <!--Fifth news-->
                            <div class="news">

                                <!--Label-->
                                <div class="label">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20)-mini.jpg" class="rounded-circle z-depth-1-half">
                                </div>

                                <!--Excert-->
                                <div class="excerpt">

                                    <!--Brief-->
                                    <div class="brief">
                                        <a class="name">Kate Harrison</a> added
                                        <a> 2 new photos</a> of you
                                        <div class="date">3 days ago</div>
                                    </div>

                                    <!--Added images-->
                                    <div class="added-images">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" class="z-depth-1 rounded">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg" class="z-depth-1 rounded">
                                    </div>

                                    <!--Feed footer-->
                                    <div class="feed-footer">
                                        <a class="comment" data-toggle="collapse" href="#collapseExample-5" aria-expanded="false" aria-controls="collapseExample-5">Comment</a> &middot;
                                        <span>
                                            <a>47</a>
                                        </span>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I like it">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                        <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I don't like it">
                                            <i class="fa fa-thumbs-down"></i>
                                        </a>
                                        <div class="collapse" id="collapseExample-5">
                                            <div class="card card-body mt-1">
                                                <!--Add comment-->
                                                <div class="md-form mt-1 mb-1">
                                                    <textarea type="text" id="form7" class="md-textarea"></textarea>
                                                    <label for="form7">Add comment</label>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn-flat waves-effect" data-toggle="collapse" data-target="#collapseExample-5" aria-expanded="false"
                                                        aria-controls="collapseExample-5">Cancel</button>
                                                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample-5" aria-expanded="false"
                                                        aria-controls="collapseExample-5">Reply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--Fifth news-->

                        </div>
                        <!--Newsfeed-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
        </div>
    </div>
</section>