$dark-blue: #2d5c56;
$red: #f84e4c;
$light-blue: #b8c6c9;
$light-grey: #cccccc;
$lime-green: #73cf45;
$turquoise-blue: #005555;

.pre-scrollable {
    max-height: 100%;
    max-width: 100%;
    background: #ddd;;
    .card {
        margin: 16px 0px;
    }
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */

#profile {
    margin: auto;
    padding-top: 64px;
    height: auto;
    background: #ddd;
    #sidebar {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 8px;
    }
    #feed {
        // background: blue;
        background: #ddd;
        height: 100%;
        padding-top: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

#postForm {
    background: #fff;
    border-radius: .3rem;
    input {
        width: 100%;
        border-radius: 0px;
        padding: 4px;
    }
    .md-form,
        {
        margin-bottom: 0px;
    }
    .btn, .btn-sm {
        background-color: $dark-blue;
        padding: 8px;
        margin-bottom: 0px;
        color: white;
    }
    #photoSelect {
        i {
            color: white;
            padding: 7px 8px;
        }
        background-color: $dark-blue;
        border-radius: .3rem;
    }
    padding: 16px;
}

input[type="file"] {
    display: none;
}

#fileInput {
    background: $dark-blue;
    color: white;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: .3rem;
    cursor: pointer;
    input:hover+label {
        background: $light-blue;
    }
}

.btn-sm {
    background: #2d5c56;
    border-radius: .3rem;
}

.menstrual-alert {
    color: red;
}