<section class="flex-center animate-bg">
  <div class="animated fadeIn card" style="width: 28rem;" id="login-form">
    <div class="card-body">
      <!-- <form [formGroup]="forgotPassword"> -->
      <form [formGroup]="forgotPasswordConfirmation" (ngSubmit)="onSubmitReset()">
        <!--Header-->
        <div class="form-header">
          <h3 class="text-center">Reset Confirmation</h3>
            <hr>
            <br>
            <br>

        </div>

        <!--Body-->
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="forgotPassword-confirmation-new-password" class="form-control" mdbActive formControlName="password">
          <label for="forgotPassword-confirmation-new-password">New Password</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="forgotPassword-confirmation-new-password-conf" class="form-control" mdbActive formControlName="password">
          <label for="forgotPassword-confirmation-new-password-conf">Confirm New Password</label>
        </div>

        <div class="text-center">
          <button class="btn btn-default waves-effect waves-light" mdbRippleRadius>Set New Password</button>
        </div>

      </form>
    </div>
  </div>

</section>
