/* Your custom styles */

.my-blue {
    background-color: #2d565c;
}

.avatar {
    height: 32px;
}

#profile-pic {
    width: 128px;
}

.navbar-dark .navbar-brand {
    color: white;
    padding-right: 16px;

}

a {
    color: white;
    text-decoration: none;
    :hover {
        color: white;
        text-decoration: none;
    }
}

.sidebar-link {
    background-color: #ddd;
    padding: 3px 25%;
}

#searchBar {
    padding: none;
    margin: auto;
    
    max-width: 100%;
    height: auto;
    color: white;
    input::placeholder{
        color: white;
    }
}

#searchResult {
    display: block;
    float: left;  
    z-index: 3;
    position: absolute; /*newly added*/
    right: 5px; /*newly added*/
    top: 5px;}