<nav class="mb-1 navbar navbar-expand-lg navbar-dark animate-bg lighten-1">
  <a class="navbar-brand" href="#">Quip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-5" aria-controls="navbarSupportedContent-5"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-5">

    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">

      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <a href="#" class="d-flex justify-content-between ">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
      </a>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <a (click)="LogOut()" class="">logout</a>
  </div>
</nav>