<section class="flex-center">
  <div class="animated fadeIn card" style="width: 28rem;" id="login-form">
    <div class="card-body">
      <!-- <form [formGroup]="forgotPassword"> -->
      <form [formGroup]="forgotPassword" (ngSubmit)="onSendRequest(forgotPassword.value)">
        <!--Header-->
        <div class="form-header">
          <h3 class="text-center">
            <i class="fa fa-lock"></i> Forgot Password</h3>
          <p class="centered">If you forgot your password, please enter you account's email in order to send you a password reset link. 😃</p>
            <br>
        </div>

        <!--Body-->
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="forgotPassword-email" class="form-control" mdbActive formControlName="email">
          <label for="forgotPassword-email">Existing Email</label>
        </div>

        <div class="text-center">
          <button class="btn btn-default waves-effect waves-light" mdbRippleRadius>Set New Password</button>
        </div>

      </form>
    </div>
  </div>

</section>