<section class="flex-center">
  <div class="animated fadeIn card" style="width: 28rem;" id="register-form">
    <div class="card-body">

      <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
        <!--Header-->
        <div class="form-header">
          <h3 class="text-center">
            <i class="fa fa-lock"></i> Register</h3>
        </div>

        <!--Body-->

        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="registerForm-firstname" class="form-control" mdbActive formControlName="fname">
          <label for="registerForm-firstname">Firstname</label>
        </div>

        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="registerForm-lastname" class="form-control" mdbActive formControlName="lname">
          <label for="registerForm-lastname">Lastname</label>
        </div>
        
        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="registerForm-username" class="form-control" mdbActive formControlName="username">
          <label for="registerForm-username">Username</label>
        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="registerForm-email" class="form-control" mdbActive formControlName="email">
          <label for="registerForm-email">Email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="registerForm-pass" class="form-control" mdbActive formControlName="pass">
          <label for="registerForm-pass">Password</label>
        </div>

        <div class="text-center">
          <button class="btn btn-default waves-effect waves-light">Register</button>
        </div>
      </form>

    </div>
  </div>
</section>