.btn-sm {
    background: #2d5c56;
    border-radius: .3rem;
    color: white;
}

#descText {
    background: #eee;
    padding: 8px;
    color: black;
}

#tagText {
    color: #999
}

#imagePost{
    width: 500px;
}